@model Try3.Models.Automobiles

@{
    ViewBag.Title = "DeleteCar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DeleteCar</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Automobiles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Auto_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Auto_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("Auto_Id", Model.Auto_Id)
        @Html.Hidden("Model", Model.Model)
        @Html.Hidden("Manufacturer", Model.Manufacturer)
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to Home", "Index")
        </div>
    }
</div>
