@model Try3.Models.MyDatabase

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>
    Automobiles
    <input type="button" onclick="window.location.href = '/Home/AddCar';" value="Add car" />
    <input type="button" onclick="window.location.href = '/Home/BuyCar';" value="Buy a car" />
</h3>
<table class="table">
    <tr>
        <td><p>Auto_Id</p></td>
        <td><p>Model</p></td>
        <td><p>Manufacturer</p></td>
        <td><p></p></td>
        <td><p></p></td>
    </tr>
    @foreach (var m in Model.automobiles)
    {
        <tr>
            <td><p>@m.Auto_Id</p></td>
            <td><p>@m.Model</p></td>
            <td><p>@m.Manufacturer</p></td>
            <td><p>@Html.ActionLink("Update", "UpdateCar", "Home", new { id = @m.Auto_Id }, null)</p></td>
            <td><p>@Html.ActionLink("Delete", "DeleteCar", "Home", new { id = @m.Auto_Id }, null)</p></td>
        </tr>
    }
</table>
<h3>Sales</h3>
<table class="table">
    <tr>
        <td><p>Purchase_Id</p></td>
        <td><p>Client_Surname</p></td>
        <td><p>Auto_Id</p></td>
        <td><p>Date_Of_Purchase</p></td>
        <td><p></p></td>
        <td><p></p></td>
    </tr>
    @foreach (var p in Model.purchases)
    {
        <tr>
            <td><p>@p.Purchase_Id</p></td>
            <td><p>@p.Client_Surname</p></td>
            <td><p>@p.Auto_Id</p></td>
            <td><p>@p.Date_Of_Purchase</p></td>
            <td><p>@Html.ActionLink("Update", "UpdatePurchase", "Home", new { id = @p.Purchase_Id }, null)</p></td>
            <td><p>@Html.ActionLink("Delete", "DeletePurchase", "Home", new { id = @p.Purchase_Id }, null)</p></td>
        </tr>
    }
</table>
